body {
    background: #171717;
    font-family: 'Gilam', sans-serif;
    font-family: 'Ballet', cursive;
}



.header_container {
    background: #171717;
    width: 1460px;
    margin-left: 230px;
    display: flex;
    justify-content: space-between;
}


.title_img {
    margin-top: 37px;
}

.feedback-link {
    margin-top: 47px;
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    color: #171717;
    text-decoration: none;
    font-family: Gilam;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #E4B564;
    border-radius: 5px;
    text-align: center;
}

.feedback_text {
    color: #E4B564;
    font-family: Ballet;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}


.main_container {
    background: #171717;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 43px;
    margin-left: 230px;
    width: 1460px;
    color: #FFF;
    font-family: Gilam;
}



.subtitle {
    margin-top: 89px;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

.text_subtitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}


.grid_container {
    margin-top: 41px;
    display: grid;
    grid-template-areas:
        "item_1 item_1 item_2 item_2 item_3 item_3"
        "item_4 item_4 item_4 item_5 item_5 item_5";
    grid-template-columns: repeat(6, 1fr);
    gap: 28px;
}

.item {
    height: 467px;
    color: #FFF;
    text-align: center;
    font-family: Gilam;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.item_1 {
    background: #634F2C;
    grid-area: item_1;
}

.item_2 {
    background: #B4A385;
    grid-area: item_2;
}

.item_3 {
    background: #E4B564;
    grid-area: item_3;
}

.item_4 {
    background: #635A4A;
    grid-area: item_4;
}

.item_5 {
    background: #B08C4D;
    grid-area: item_5;
}

.text_item {
    margin: 220px 0;
    display: block;
    word-wrap: break-word;
}

.custom_width {
    margin-left: 48px;
    width: 380px;
}



.building_slogan {
    width: 1460px;
    margin-top: 161px;
    margin-bottom: 94px;
    color: #FFF;
    font-family: Gilam;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
}

.grid_container_new {
    display: grid;
    grid-template-rows: repeat(6, 487px);
    grid-template-rows: 255px 28px 96px 129px 277px;
    grid-template-areas:
        "building_item_1 building_item_2 building_item_3"
        "building_item_4 building_item_2 building_item_6"
        "building_item_4 building_item_5 building_item_6"
        "building_item_4 building_item_5 building_item_7"
        "building_item_4 building_item_5 building_item_7";
    gap: 23px;
}


.building_item_1 {
    grid-area: building_item_1;
    background: #0E0E0E;
}

.bulding_text_1 {
    padding: 44px 113px 219px 52px;
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.truck_1 {
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-weight: 700;
}

.building_item_2 {
    grid-area: building_item_2;
    background: #242424;
}

.machine_name {
    margin: 43px 113px 343px 50px;
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.truck_2 {
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-weight: 700;
}



.building_item_3 {
    grid-area: building_item_3;
    background: #1F1F1F;
}

.bulding_text_3 {
    margin: 44px 117px 186px 48px;
    width: 302px;
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.building_item_4 {
    grid-area: building_item_4;
    background: #1F1F1F;
}

.bulding_text_4 {
    width: 302px;
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 56px 113px 479px 52px;

}


.building_item_5 {
    grid-area: building_item_5;
    background: #E4B564;
}

.castom_bulding_text {
    margin: 47px 113px 333px 52px;
    color: #000;
    font-family: Gilam;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}

.building_item_6 {
    grid-area: building_item_6;
    background: #0E0E0E;
}

.bulding_text_6 {
    margin: 44px 117px 244px 48px;
    width: 302px;
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.building_item_7 {
    grid-area: building_item_7;
    background: #0A0909;
}

.bulding_text_7 {
    margin: 44px 117px 208px 48px;
    width: 302px;
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



.project {
    background: #0E0E0E;
    width: 1460px;
    margin-left: 230px;

}



.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 190px
}

.slogan_project {
    margin-top: 179px;
    margin-bottom: 79px;
    color: #FFF;
    font-family: Gilam;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}


.botoom_footer {
    margin-right: 25px;
    margin-top: 161px;
    margin-bottom: 61px;
    width: 180px;
    height: 50px;
    text-decoration: none;
    color: #E4B564;
    font-family: Ballet;
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    border: 1px solid #E4B564;
    border-radius: 1px;
}




.gid_container_3 {
    display: grid;
    grid-template-columns: repeat(3, 478px);
    grid-template-rows: repeat(6, 487px);
}

.progect_item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progect_item_1 {
    background: #634F2C;
    padding: 171px 151px 171px 151px;
}

.progect_item_2 {
    background: rgba(232, 210, 171, 0.76);
    display: flex;
    flex-direction: column;

}

.progect_img_2 {
    width: 62px;
    height: 55px;
}

.progect_img_2_1 {
    width: 119px;
    height: 53px;
}

.text_progect_img_2_2 {
    padding-top: 9px;
    width: 326px;
    color: #FFF;
    text-align: center;
    font-family: Gilam;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}


.progect_item_3 {
    background: #E4B564;
    padding: 168px 184px 168px 184px;
}

.progect_item_4 {
    display: flex;
    flex-direction: column;
    background: #635A4A;
    padding: 112px 212px 222px 212px;
}

.progect_item_5 {
    background: #B08C4D;
    padding: 168px 184px 168px 184px;
}

.progect_item_6 {
    background: #634F2C;
    padding: 171px 151px 171px 151px;
}